@import "./assets/styles/variables";

/* General CSS Settings Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $plusJakartaSansNormal, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* General CSS Settings End */