@font-face {
  font-family: 'plusJakartaSans_normal';
  src: url('../fonts/PlusJakartaSans-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'plusJakartaSans_bold';
  src: url('../fonts/PlusJakartaSans-VariableFont_wght.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}