@import "../styles/fonts";

// Variables

$primaryColor: #ff9f00;
$secondaryColor: #333;
$backgroundColor: #f6f6f6;
$backgroundColorNav: #131921;
$plusJakartaSansNormal: 'plusJakartaSans_normal', sans-serif;
$plusJakartaSansBold: 'plusJakartaSans_bold', sans-serif;
$fs-m: 16px;
$lineHeight: 1.5;
$textColor: #fff;
$darkTextColor: #000;